[Unit]
Description=Doctorville Auto Scheduler
After=network.target

[Service]
Type=simple
# WorkingDirectory should be the absolute path to your project directory
WorkingDirectory=/root/doctorville-auto
# Node binary path in NVM
ExecStart=/root/.nvm/versions/node/v24.19.0/bin/node dist/core/main.js
Restart=always
RestartSec=5
TimeoutStopSec=15
# Point to an EnvironmentFile that contains your secrets (one per line: VAR=val)
EnvironmentFile=/root/doctorville-auto/.env

[Install]
WantedBy=multi-user.target
